<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>风度玉门</title>
<link rel="stylesheet" type="text/css" href="/blog/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/blog/css/nprogress.css">
<link rel="stylesheet" type="text/css" href="/blog/css/style.css">
<link rel="stylesheet" type="text/css" href="/blog/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="/blog/images/icon/icon.png">
<link rel="shortcut icon" href="/blog/images/icon/favicon.ico">
<script src="/blog/js/jquery-2.1.4.min.js"></script>
<script src="/blog/js/nprogress.js"></script>
<script src="/blog/js/jquery.lazyload.min.js"></script>
<!--[if gte IE 9]>
  <script src="/blog/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="/blog/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="/blog/js/respond.min.js" type="text/javascript"></script>
  <script src="/blog/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='/blog/upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">

{(blog/header.html)}

<section class="container">
  <div class="content-wrap">
    <div class="content">

      <div id="focusslide" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a href="" target="_blank"><img src="/blog/images/banner/banner_01.jpg" alt="" class="img-responsive"></a>
          </div>
          <div class="item"> 
            <a href="" target="_blank"><img src="/blog/images/banner/banner_02.jpg" alt="" class="img-responsive"></a> 
          </div>
          <div class="item"> 
            <a href="" target="_blank"><img src="/blog/images/banner/banner_03.jpg" alt="" class="img-responsive"></a>
          </div>
        </div>

        <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow"> 
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">上一个</span> 
        </a> 
        <a class="right carousel-control" href="#focusslide" role="button" data-slide="next" rel="nofollow"> 
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">下一个</span> 
        </a> 
      </div>

      <article class="excerpt-minic excerpt-minic-index">
        <h2><span class="red">【今日推荐】</span><a href="" title="">从下载看我们该如何做事</a></h2>
        <p class="note">
          一次我下载几部电影，发现如果同时下载多部要等上几个小时，然后我把最想看的做个先后排序，去设置同时只能下载一部，结果是不到一杯茶功夫我就能看到最想看的电影。 这就像我们一段时间内想干成很多事情，是同时干还是有选择有顺序的干，结果很不一样。同时...
        </p>
      </article>

      <div class="title">
        <h3>最新发布</h3>
        <div class="more">

          {% for i, v in ipairs(typeList) do %}  
            <a href="/article/category?typeId={* v['type_id'] *}" target="_blank">{* v["name"] *}</a>
          {% end %}
          
        </div>
      </div>


      {% for i, v in ipairs(list) do %}  
      <article class="excerpt excerpt-1">
        <header><a class="cat" href="program">{* v.type_name *}<i></i></a>
          <h2><a href="/article/detail?articleId={* v.article_id *}" target="_blank" title="">{* v.title *}</a></h2>
        </header>
        <p class="meta">
          <time class="time"><i class="glyphicon glyphicon-time"></i>{* v.create_time *}</time>
          <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 共{* v.view_count *}人围观</span> <a class="comment" href="article.html#comment"><i class="glyphicon glyphicon-comment"></i> {* v.comment_count *}个不明物体</a></p>
        <p class="note">{* v.content *}... </p>
      </article>
      {% end %}

      <nav class="pagination" style="display: none;">
        <ul>
          <li class="next-page"><a href="/article/index?pageNo={* pageNo *}">下一页</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- 右边栏 -->
  {(blog/side.html)}
  
</section>

{(blog/footer.html)}

<script src="/blog/js/bootstrap.min.js"></script> 
<script src="/blog/js/jquery.ias.js"></script> 
<script src="/blog/js/scripts.js"></script>
</body>
</html>