<aside class="sidebar">

  <div class="fixed">
    <div class="widget widget-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab">网站公告</a></li>
        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">风度玉门</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane notice active" id="notice">
          <ul>
            <li>
              <time datetime="2016-01-04">2016-01-04</time>
              <a href="" target="_blank">欢迎访问风度玉门</a></li>
            <li>
              <time datetime="2016-01-04">2016-01-04</time>
              <a target="_blank" href="">在这里可以看到前端技术，后端程序，网站内容管理系统等文章，还有我的程序人生！</a></li>
            <li>
              <time datetime="2016-01-04">2016-01-04</time>
              <a target="_blank" href="">在这个小工具中最多可以调用五条</a></li>
          </ul>
        </div>

        <div role="tabpanel" class="tab-pane contact" id="contact">
          <h2>Email:<br />
            <a href="mailto:594908728@qq.com" data-toggle="tooltip" data-placement="bottom" title="594908728@qq.com">594908728@qq.com</a>
          </h2>
        </div>
      </div>

    </div>

    <div class="widget widget_search">
      <form class="navbar-form" action="/article/search" method="post">
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" value="" maxlength="15" autocomplete="off">
          <span class="input-group-btn">
          <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
          </span> </div>
      </form>
    </div>
  </div>

  <div class="widget widget_sentence">
    <h3>每日一句</h3>
    <div class="widget-sentence-content">
      <h4 id="currentTime">2017年07月10日 星期一</h4>
      <p>人得先清心寡欲，方能高枕无忧。</p>
    </div>
  </div>

  <script type="text/javascript">
    (function(){

      var show_day = new Array('星期一','星期二','星期三','星期四','星期五','星期六','星期日'); 
      var time = new Date();
      var year = time.getFullYear();
      var month = time.getMonth();
      var date = time.getDate();
      var day = time.getDay();

      month = Number(month) + 1; 

      var currentTime = year+'年'+month+'月'+date+'日'+' '+show_day[day-1];
      $("#currentTime").html(currentTime);

    })();
  </script>

  <div class="widget widget_hot">
    <h3>热门文章</h3>
    <ul>
      {% if hotList ~= nil then %}
        {% for i, v in ipairs(hotList) do %}  
        <li>
          <a href="/article/detail?articleId={* v.article_id *}" target="_blank">
            <span class="text">{* v.title *}</span>
            <span class="muted"><i class="glyphicon glyphicon-time"></i> {* v.create_time *}</span>
            <span class="muted"><i class="glyphicon glyphicon-eye-open"></i> {* v.view_count *}</span>
          </a>
        </li>
        {% end %}
      {% else %}
        <li>
          <span class="text" style="margin: 15px;">暂无内容</span>
        </li>
      {% end %}

    </ul>
  </div>

</aside>